@mixin divStyle{
    width: 70%;
    margin: 5em auto;
    padding: 2rem;
    border-radius: 20px;;
    box-shadow: 0 0 20px 8px #d0d0d0;
}

@mixin containerStyle{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    text-align: center;

    @media only screen and (min-width: 600px) {
        & {
            grid-template-columns: 1fr 1fr;
        }  
    }

    @media only screen and (min-width: 900px) {
        & {
            grid-template-columns: 1fr 1fr 1fr 1fr ;
        }
    }
}

.descriptionContainer{

    .leetcode_description{
        @include divStyle();
        margin-top: 10em;

        .leetcode--title{
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
            margin-bottom: 1.5rem;
            color: $primary-color;
            width: 100%;
        }
      
          .leetcode--body{
            line-height: 4ch;
            font-size: larger;
        }
    }

    .roadmap--container{
        margin-top: 10rem;

        .roadmap--title{
            text-align: center;
            font-size: 60px;
            font-weight: bolder;
            color: $primary-color;
            margin-bottom: 3rem;
        }
        .roadmap--diagram{
        }
    }

    .register{
        margin: 10em;
    }
    .register--title{
        text-align: center;
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 2em;
        color: $primary-color;
    }

    .internship--title{
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 1.5rem;
        color: $primary-color
    }
  
      .internship--body{
        line-height: 4ch;
        font-size: larger;
        font-weight: 550;
    }

    .internship_description{
        @include divStyle();
        margin: 10em auto;

        .internship--title{
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
            margin-bottom: 1.5rem;
            color: $primary-color
        }
      
          .internship--body{
            line-height: 4ch;
            font-size: larger;
            font-weight: 550;
        }
    }

    .find_internships{

        &--title{
            font-size: map-get($font_size, large);
            font-weight: map-get($font_weight, bold);
            margin-bottom: 50px;
            padding-bottom: 50px;
            text-align: center;  
            color: $primary-color;
        }

        & .internship_finder{
           @include containerStyle();
           & .finder_logo .site_logo{
                object-fit: contain;
                width: 55px;
                height: 60px;
           }
           & .finder_logo .idealist{
                object-fit: contain;
                width: 300px;
                height: 50px;
           }
        }
    }

    .internship--programs{
        margin-top: 8rem;
        text-align: center;

        &--title{
            font-size: 70px;
            font-weight: 900;
            color: $primary-color;
        }

        &--list{
            list-style: none;
            line-height: 4ch;
            text-align: left;
            font-size: 30px;
            margin-top: 3rem;
            a {
                color: #000000;
                text-decoration: none;
                text-align: center;
            }

            a:hover{
                color: $primary-color;
            }
        }
    }
    
    .interns_ulm{
        margin-top: 10rem;

        .interns--title{
            text-align: center;
            font-size: map-get($font_size, large);
            font-weight: map-get($font_weight, bold);
            text-align: center;
            color: $primary-color;
        }
        
        .interns--container{
            @include containerStyle();
            margin-top: 5rem;

            & .interns{
                min-height: 100%;
                padding: 40px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #444;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                line-height: 2em;
                font-weight: map-get($font_weight, bold);
            
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
                }

                & .background_cover{
                    background-image: url("");
                    border-radius: 50%;
                    margin: 20% 10% 10% 20%;
                    padding-bottom: 70%;
                    background-size: cover;
                    background-position: center center;
                }

                & .interns--image{
                    display: block;
                    max-width: fit-content;
                    margin: 5px auto 30px auto;
                }

                & .interns--name{
                    font-size: map-get($font_size, medium);
                    text-align: center;
                    margin-bottom: 10px;
                    color: $primary-color;
                }

                & .interns--linkedin{
                    padding: 5px;
                    margin-top: 30px;
                    cursor: pointer;
                }

            }
        }
    }

    .ulm_developers{
        margin-top: 7rem;

        &--title{
            text-align: center;
            font-size: map-get($font_size, large);
            font-weight: map-get($font_weight, bold);
            text-align: center;
        }
        
        .ulm_developers--container{
            @include containerStyle();
            margin-top: 5rem;

            & .acmDevelopers{
                min-height: 100%;
                padding: 10px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: #444;
                position: relative;
                top: 0;
                transition: all .1s ease-in;
                line-height: 1.5em;
                font-size: 20px;
            
                &:hover{
                    top: -2px;
                    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
                }

                .developers--image{
                    display: block;
                    max-width: fit-content;
                    margin: 5px auto 30px auto;
                }
            }
        }
    }
}